<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuyNgo">

        <!-- LAUNCHER -->
        <activity
            android:name=".UI.AuthWelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CUSTOMER SCREENS -->
        <activity android:name=".UI.CusLoginActivity"         android:exported="false" />
        <activity android:name=".UI.CusSignupActivity"        android:exported="false" />
        <activity android:name=".UI.CusHomeActivity"          android:exported="false" />
        <activity android:name=".UI.CusProductDetailActivity" android:exported="false" />
        <activity android:name=".UI.CusCartActivity"          android:exported="false" />
        <activity android:name=".UI.CusCheckoutActivity"      android:exported="false" />
        <activity android:name=".UI.CusTrackingActivity"      android:exported="false" />
        <activity android:name=".UI.CusFeedbackActivity"      android:exported="false" />
        <activity android:name=".UI.CusProfileActivity"       android:exported="false" />

        <!-- ADMIN SCREENS -->
        <activity android:name=".UI.AdmLoginActivity"              android:exported="false" />
        <activity android:name=".UI.AdmDashboardActivity"          android:exported="false" />
        <activity android:name=".UI.AdmProductManagementActivity"  android:exported="false" />
        <activity android:name=".UI.AdmAddProductActivity"         android:exported="false" />
        <activity android:name=".UI.AdmEditProductActivity"        android:exported="false" />
        <activity android:name=".UI.AdmOrderManagementActivity"    android:exported="false" />
        <activity android:name=".UI.AdmRegisterRiderActivity"      android:exported="false" />
        <activity android:name=".UI.AdmAssignRiderActivity"        android:exported="false" />
        <activity android:name=".UI.AdmViewFeedbackActivity"       android:exported="false" />

        <!-- ZXing barcode scanner -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            tools:replace="screenOrientation" />

        <!-- FileProvider for camera image capture -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- RIDER SCREENS -->
        <activity android:name=".UI.RidLoginActivity"           android:exported="false" />
        <activity android:name=".UI.RidDashboardActivity"       android:exported="false" />
        <activity android:name=".UI.RidStatusUpdateActivity"    android:exported="false" />
        <activity android:name=".UI.RidReviewsActivity"         android:exported="false" />
        <activity android:name=".UI.RidDeliveryHistoryActivity" android:exported="false" />
        <activity android:name=".UI.RidProfileActivity"         android:exported="false" />

    </application>

</manifest>